/* Used for special fonts */
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Righteous', cursive; */

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Righteous', cursive;
    font-size: 48px;
    margin-top: 1em;
}

.main {
    width: 100%;
}

.border {
    border-style: dashed;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align: center;
}
